.elements {
    margin: 51px auto;
    max-width: 70%;
}

@media (max-width: 768px) {
    .elements {
        margin: 88px auto;
        max-width: 94%;
    }
}

@media (max-width: 425px) {
    .elements {
        margin: 64px auto;
        max-width: 90%;
    }
}